.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0099a9;
}

.header__button {
  padding: 9px 25px;
  background-color: white;
  border-radius: 20px;
  border: 3px #FFC801 solid;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header__button:hover {
  padding: 9px 25px;
  background-color: white;
  border-radius: 20px;
  border: 3px #FFC801 solid;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: #0099a9;
}

.title {
  font-weight: 800;
  font-size: 64px;
  line-height: 87.3px;
  margin-bottom: 4%;
  color: #016EB7;
}

.title_wrapper {
  width: 45%;
}

.who_we_are {
  display: flex;
  justify-content: space-between;
  padding: 0 4%;
}

.services {
  margin-top: 5%;
  display: flex;
  width: 100vw;
  background-color: #ECF3E9;
}

.services_content {
  margin: auto;
  width: 45%;
}